<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
    <script type="application/javascript" src="/libTest/js/coffee/main.js"></script>
    <link rel="shortcut icon" href="http://www.iconj.com/ico/g/n/gnp4h7idde.ico" type="image/x-icon" />
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>